<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="Index.html" routerLink="/main">TelegramBot</a>
    <button class="navbar-toggler" type="button" data-target="#my-nav" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="my-nav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="openDialog()">Add city</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
